# Servidor
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:3001,http://localhost:5173,http://localhost:5174,http://localhost:3003
# Base de dados MongoDB Atlas (Serverless)
MONGO_URI=mongodb+srv://kingbadfox3:maculube2@cluster0.0g6wurl.mongodb.net/?appName=Cluster0
MONGO_DB_NAME=marmita_db
# Configuração Cloudinary (para upload de imagens)
CLOUDINARY_CLOUD_NAME=da1rcruze
CLOUDINARY_API_KEY=866797144167493
CLOUDINARY_API_SECRET=lyZK5IkHdbkVxDgFFgi4FEj51fA
