# Servidor
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5173,http://localhost:5174

# Base de dados MongoDB
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/?appName=<app>
MONGO_DB_NAME=marmita_db

# Cloudinary (upload de imagens)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
